*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #628199;
}

h1{
    color: #ffeedd;
}

h2{
    color: #ffeedd;
}

p{
    color: #ffeedd;
}

a{
    color: #ffeedd;
    text-decoration: none;
}

.title{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    text-shadow: 4px 4px 2px rgba(0,0,0,.5);
}

.section-title{
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px 1px rgba(0,0,0,.5);
}

#table{
    padding-top: 5%;
    text-align: center;
}

.greeting{
    padding-top: 5%;
    text-align: center;
}


.career{
    padding-top: 5%;
    text-align: center;
}

.products{
    width: 85%;
    padding-top: 5%;
    text-align: center;
}

#grid{
    width: 80%;
    margin: 2.5% auto 5%;
    display: grid;
    grid-gap: 5%;
    place-items: center;
    grid-template-rows: repeat(1, 200px);
    grid-template-columns: repeat(4, 1fr);
}

#tile-title{
    margin: 5%;
}

.tile{
    padding: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid #ffeedd;
    box-shadow: 2px 2px 1px rgba(0,0,0,.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}.tile div{ 
    display: none;
}.tile p{
    color: #221111;
}

.tile:hover{
    color: #221111;
    background-color: #ffeedd;
    border: 4px solid #221111;
    box-shadow: 2px 2px 1px rgba(255,255,255,.5);
    text-shadow: 1px 1px 1px rgba(255,255,255,.75);
}.tile:hover div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* For smart phone */
@media (max-width: 600px) {
    #title{
        padding-top: 10%;
    }

    #greeting{
        width: 80%;
    }

    #career{
        width: 85%;
    }
    
    #products{
        width: 80%;
    }
    
    #grid{
        width: 50%;
        margin: 10% auto;
        padding: auto;
        display: grid;
        grid-gap: 15%;
        place-items: center;
        grid-template-rows: repeat(4, 75px);
        grid-template-columns: repeat(1, 1fr);
    }
}