*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: 0 auto;
    background-color: #628199;
}

h1{
    color: #ffeedd;
}

h2{
    color: #ffeedd;
}

p{
    color: #ffeedd;
}

a{
    color: #ffeedd;
    text-decoration: none;
}

#title{
    margin: 5% 0 0;
    display: flex;
    justify-content: center;
    text-shadow: 4px 4px 2px rgba(0,0,0,.5);
}

#greeting{
    margin: 5% 0;
    text-align: center;
}

#grid-title{
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px 1px rgba(0,0,0,.5);
}

#introduce-portfolio{
    margin: 1% 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

#grid{
    width: 80%;
    margin: 2.5% auto 5%;
    display: grid;
    grid-gap: 5%;
    place-items: center;
    grid-template-rows: repeat(1, 200px);
    grid-template-columns: repeat(4, 1fr);
}

#tile-title{
    margin: 5%;
}

#change-language-btn{
    width: 100px;
    position: fixed;
    top: 10%;
    left: 90%;
    display: flex;
    justify-content: center;
}

#instagram-btn{
    width: 100px;
    position: fixed;
    top: 50%;
    left: 90%;
    display: flex;
    justify-content: center;
}

#github-btn{
    width: 100px;
    position: fixed;
    top: 45%;
    left: 90%;
    display: flex;
    justify-content: center;
}

.tile{
    padding: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid #ffeedd;
    box-shadow: 2px 2px 1px rgba(0,0,0,.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}.tile div{ 
    display: none;
}.tile p{
    color: #221111;
}

.tile:hover{
    color: #221111;
    background-color: #ffeedd;
    border: 4px solid #221111;
    box-shadow: 2px 2px 1px rgba(255,255,255,.5);
    text-shadow: 1px 1px 1px rgba(255,255,255,.75);
}.tile:hover div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

